<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mainupdate.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="topline"></div> 
    <main>
        <h1>Edit wardrobe</h1> 
        <div class="bottomline"></div> 
        <form action="/stylemate/<%=wardrobe.id%>?_method=PUT" method="POST" >
            <div class="container">
                <h2>Title Name</h2>
                <label for="edit_title_name"></label>
                <input type="text" id="title_name" name="title[name]" value="<%=wardrobe.title.name%>" ><br>
                
                <h2>Image</h2>
                <label for="adit_title_img"></label>
                <input type="text" id="title_img" name="title[img]" value="<%=wardrobe.title.img%>" ><br>
                <input class="submit" type="submit" value="submit">
            </div><br>
      </form>
      <h2>Current Cover</h2>
      <div class="bottomline"></div> 
      <img src="<%= wardrobe.title.img %>" alt="">
      <div class="bottomline"></div> 
        <a class="editback-button" href="/stylemate/<%= wardrobe.id %>">
                <h2>| BACK |</h2>
        </a>
     </main>
     <div class="topline"></div> 
     <%- include('./partials/footer.ejs') %>
     <script type="text/javascript" src="/js/app.js" ></script>
</body>
</html>