<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/mainview.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="topline-container">
        <div class="topline"></div>
    </div>
    <div class="mainview">
        <ul>
            <% for(let i = 0; i < wardrobes.length; i++) { %>
            <li>
                <div class="blackback"></div>
                <h2><%= wardrobes[i].title.name %> </h2>
                <a href="/stylemate/<%=wardrobes[i].id %>">
                    <img src=<%= wardrobes[i].title.img %> >
                </a>
                <form action="/stylemate/<%=wardrobes[i].id %>?_method=DELETE" method="POST" >
                    <input type="submit" value="DELETE">
                </form>
            </li>
            <% } %>
            <li>
                <div class="blackback"></div>
                <h2>Create a Wardrobe</h2>
                <a href="/stylemate/new">
                    <img src="../create-wardrobe-image.jpeg" alt="">
                </a>
             </li>
        </ul>
    </div>
    <div class="topline-container">
        <div class="topline"></div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>