<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Current Wardrobe</h1>
   
     <div>
        <h1>TOPS</h1>
        <% for(let i = 0; i < wardrobe.tops.length; i++) { %>
            <div>
                <img src= <%= wardrobe.tops[i].img %>>
                <h2><%= wardrobe.tops[i].name %></h2>
                <p><%= wardrobe.tops[i].description %></p>
                <a href=<%= wardrobe.tops[i].link %>>LINK</a>
             </div>
             
        <% } %>
        <a href="/top/<%= wardrobe.id %>">View Tops</a>
     </div>
     <div>
        <h1>BOTTOM</h1>
        <% for(let i = 0; i < wardrobe.bottoms.length; i++) { %>
            <div>
                <img src= <%= wardrobe.bottoms[i].img %>>
                <h2><%= wardrobe.bottoms[i].name %></h2>
                <p><%= wardrobe.bottoms[i].description %></p>
                <a href=<%= wardrobe.bottoms[i].link %>>LINK</a>
            </div>
        <% } %>
     </div>
     <div>
        <% for(let i = 0; i < wardrobe.shoes.length; i++) { %>
            <div>
                <img src= <%= wardrobe.shoes[i].img %>>
                <h2><%= wardrobe.shoes[i].name %></h2>
                <p><%= wardrobe.shoes[i].description %></p>
                <a href=<%= wardrobe.shoes[i].link %>>LINK</a>
            </div>
        <% } %>
     </div>
     <% for(let i = 0; i < wardrobe.inspirations.length; i++) { %>
        <div>
            <img src= <%= wardrobe.inspirations[i].img %>>
            <h2><%= wardrobe.inspirations[i].name %></h2>
            <p><%= wardrobe.inspirations[i].description %></p>
        </div>
    <% } %>

     <div>
        <a href="/stylemate/<%=wardrobe.id%>/edit">EDIT</a>
        <a href="/stylemate">BACK</a>
     </div>
</body>
</html>