<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Update Shoe</H1>
        <div>
            <div id="shoeSections" >

                <form action="/shoe/<%= shoe._id %>?_method=PUT" method="POST">
                        <div>
                            <label for="name">shoe Name:</label>
                            <input type="text" id="name" name="name" value="<%= shoe.name %>"><br>
        
                            <label for="img">shoe image:</label>
                            <input type="text" id="img" name="img" value="<%= shoe.img %>"><br>
        
                            <label for="description">Description:</label>
                            <input type="text" id="description" name="description" value="<%= shoe.description %>"><br>
        
                            <label for="link">Link:</label>
                            <input type="text" id="link" name="link" value="<%= shoe.link %>"><br>
        
                            <input type="submit" value="Save Changes">
                        </div><br>
                    </form>
                    </form>
            </div>
    </div>
</body>
</html>