<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SHOE IN WARDROBE <%= wardrobe.title.name %></h1>
    <div>
        <% for(let i = 0; i < wardrobe.shoes.length; i++) { %>
            <div>
                <img src="<%= wardrobe.shoes[i].img %>" >
                <h2><%= wardrobe.shoes[i].name %></h2>
                <p><%= wardrobe.shoes[i].description %></p>
                <a href="<%= wardrobe.shoes[i].link %>">LINK</a>
            </div>
            <a href="/shoe/<%= wardrobe.shoes[i]._id %>/edit">update</a>
            <form action="/shoe/<%= wardrobe.shoes[i].id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE">
            </form>
        <% } %>
        <a href="/shoe/<%= id %>/new"> Add Shoe</a>
        <a href="/stylemate/<%= id %>">BACK</a>
    </div>

</body>
</html>