<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/subpage/subshow.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="topline"></div> 
    <main>
       
        <h1 class="title-page">TOPS IN WARDROBE</h1>
            <h3><%= wardrobe.title.name %></h3>
            <div class="bottomline"></div>
            <div class="add-back-container">
                <a class="show-button" href="/top/<%= id %>/new"> | Add Top |</a>
                <a class="show-button" href="/stylemate/<%= id %>"> Back |</a>
            </div>
            <div class="topline"></div>
            <div class="wardrobe-container">
                <% for(let i = 0; i < wardrobe.tops.length; i++) { %>
                    <div class="clothe-info">
                        <a href="<%= wardrobe.tops[i].link %>">
                            <img src="<%= wardrobe.tops[i].img %>" >
                        </a>
                        <h2><%= wardrobe.tops[i].name %></h2>
                        <div class="showline"></div>
                        <p class="description-box"><%= wardrobe.tops[i].description %></p>
                        
                        <div class="showbottomline"></div>
                    <div class="edit-delete-container">
                        <a  class="updatebutton" href="/top/<%= wardrobe.tops[i]._id %>/edit">| Update |</a>
                    <form action="/top/<%= wardrobe.tops[i].id%>?_method=DELETE" method="POST">
                        <input class="removebutton" type="submit" value="REMOVE">
                    </form>
                    </div>
                    </div>
                <% } %>
            </div>
            <div class="topline"></div> 
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>